%h4 New Restaurant
%br
= form_for @restaurant, class: "form-horizontal" do |f|
  .form-group
    = f.label :name, class: "control-label col-sm-2"
    .col-sm-10
      = f.text_field :name, class: "form-control", placeholder:  "Name"
    .clearfix
  .form-group
    = f.label :address, class: "control-label col-sm-2"
    .col-sm-10
      = f.text_field :address, class: "form-control col-sm-10", placeholder: "Address"
    .clearfix

  .col-sm-10.col-sm-offset-2= f.button class: "btn btn-default"
