%p
  = link_to restaurants_path do
    &larr; Back to List
%h3= @restaurant.name
.rest-address.small= link_to @restaurant.address, @restaurant.address_search_link, target: '_blank'
.row
  - @specials.each do |day, specials|
    %div{ class: "col-sm-#{12 / @specials.size}" }
      %h4= Date::DAYNAMES[day]
      - specials.each do |special|
        = "#{special.type.capitalize}:"
        = special.content
        %br
