!!!
%html
  %head
    %title Specials
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    = yield(:head) if content_for?(:head)
  %body
    .container-fluid{ style: "padding-top: 10px;" }
      - flash.each do |key, value|
        %div{:class => "alert alert-#{key}"}= value
      = yield
